body {
  margin: 0;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN W4","Hiragino Sans",Meiryo,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ins {
  min-width: 800px;
  min-height: 100px;
}
@media (max-width: 60rem) {
  ins {
    min-width: 100vw;
    height: 90vw;
  }
}

.ww{
  display: inline-block;
}

